#zt-portfolio-element {
    margin: 5px 0px 5px 0px;
    background-color: #eeeeee;
    -webkit-border-radius: 5px;
    width: 220px;
    padding: 2px;
}

#zt-portfolio-category-tools, #zt-portfolio-portfolio-tools{
    margin-top: 25px;
    width: 220px;
}

.control-label{
    font-weight: bold;
}

.categories-header {
    font-weight: bold;
    background-color: #7D92A8;
    text-align: center;
    padding: 5px;
}

.categories-data{
    margin-top: 5px;
    text-align: center;
    padding: 5px;
}

.categories-data-bold{
    background-color: #C2D2F4;
}

.categories-data-thin{
    background-color: #D6C2FF;
}

.categories-controls span{
    cursor: pointer;
}

.categories-controls span:hover{
    color: #1f6377;
}

.porfolio-file-view{
    width: 210px;
    height: 200px;
    border-top: solid 1px #BBB;
    border-left: solid 1px #BBB;
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    background: #FFF;
    overflow: scroll;
    padding: 5px;
}

.accordion-heading a,
.accordion-heading a:link,
.accordion-heading a:active
{
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    color: #1f6377;
}

.accordion-heading a:hover{
    color:#185359;
}